* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(/static/images/background.png);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}


/* .content {
    width: 600px;
    align-content: flex;
} */

.logo {
    width: 220px;
    cursor: pointer;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.content h2 {
    font-size: 26px;
    font-weight: 100;
    color: #cf23cf;
    text-transform: uppercase;
}

.content h3 {
    font-size: 25px;
    font-weight: 300;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.ui.teal.table {
    border-top: .2em solid #f32170;
}

.content .btnn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.content .btnn:hover {
    background: linear-gradient(45deg, #ff77cd, #87adfe);
    color: #232d60;
}

.hidden.content {
    color: #fff;
    text-align: center;
    margin: auto;
}

.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -120px;
    bottom: 250px;
}

.social-links a {
    text-decoration: none;
    padding-right: 20px;
    font-size: 20px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}